* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 20px 20px;
    display: flex;
    gap: 240px;
    align-items: center;
}

ul {
    display: inline-flex;
    gap: 20px;
}

li {
    list-style-type: none;  
}

a {
    text-decoration: none;
     border-bottom: 2px solid black;
    color: black;
}

a:hover {
    color: blue;
}

@media (max-width:512px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    ul {
        gap: 7px;
    }
}